.login-background {
	background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(image_path("4090.jpg"));
	// background-attachment:fixed;
	min-height: calc(100vh - 10em - 2px);
	background-size: cover;
	background-position: center;
}

.login-form {
	position: absolute;
	width: 30%;
	background : white;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1,h2,h3 {
		margin: 0;
		padding: 25px;
		color: #555;
		border-bottom: 1px solid #ccc;
		background: #fdfdfd;
	}

	.campos {
		padding: 15px;
		label {
			margin: 10px 8px 5px;
			color: #aaa;
		}

		input[type=email], input[type=password], input[type=text] {
			border: 1px solid #bbb;
			border-radius: 10px;
			width: 100%;
			min-height: 35px;
			padding: 0 15px;
		}

		.action-submit {
			margin-top: 25px;
			text-align: center;
		}
	}

	.btn-submit {
		background: #349886;
		color: white;
		width: 100%;
	}

}
