.clear-fix {
	zoom: 1;
}

.clear-fix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.row{
	max-width: 1280px;
	margin: 0 auto;
}


section {
	padding: 5px 0;
}

.box{
	padding: 1%;
}

/* headings */

h1,
h2,
h3{
	font-weight: 300;
	letter-spacing:1px;
}

/* paragraphs */
.box img{
	width: 100%;
	height: auto;
}

/**** MAIN SECTION  */

.main-section {
	@extend .clear-fix !optional;
	width: 100%;
	max-width: 1440px;
	padding: 5px 0;
	margin: 5px auto;
}

/****  HEADER  ****/

.serie-header {
	@extend .clear-fix !optional;
	background: white;
	width: 100%;
	border: 1px solid #ccc;

	nav {
		@extend .clear-fix !optional;
		diplay: block;
		margin: 0 155px;
	}
}

.logo{
	height: 50px;
	width: auto;
	float: left;
	margin-top: 25px;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 20px;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
	color: grey;
	text-decoration: none;
	font-size: 1.1em;
	transition: .35s;
	padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active{
	/* color: white; */
	/* text-decoration: none; */
	/* text-transform:uppercase; */
	/* font-size: .9em; */
}

.img-gravatar {
	border-radius: 50%;
}
/*******   FOOTER    *******/

footer#footer {
	@extend .clear-fix !optional;
	background: #3db39e;
	padding: 5px 155px 0;
	color: white;
	min-height: 50px;
	p {
		margin-top: 10px;
	}
	.logo-foot{
		height: 60px;
		width: auto;
	}
	span#span-sobre {
		float: right;
		margin-top: 18px;
	}
}
