$font-family-body: "Circular Std Book", Helvetica, serif;
$font-family-headings: "Circular Std Book", Helvetica, serif;
$font-family-button: "Circular Std Book", Helvetica, serif;

$font-size-mega: 3.5em;
$font-size-kilo: 2.5em;
$font-size-hecto: 2em;
$font-size-deca: 1.5em;
$font-size-base: 1em;
$font-size-deci: 0.875em;
$font-size-centi: 0.625em;
$font-size-p2: 1.125em;