<div class="serie">
	<%= image_tag "the-flash.jpg", class: 'img' %>
	<% if is_followed?(series) %>
		<%= link_to "Deixar de Acompanhar", delete_list_series_path(series), class: 'button-like' %>
	<% else %> 
		<%= link_to "Acompanhar Série", add_list_series_path(series), class: 'button-like' %>
	<% end %>
	<h3><%= series.title %></h3>
	<p>Proximo episódio: segunda</p>
</div>