<section id="serie">

	<div class="filtro">
		<h3>séries</h3>
		<%= form_tag series_index_path, method: :get do%>
			<%= text_field_tag :filtro, nil, placeholder: "Pesquisa por nome" %>
		<% end %>
	</div>
	<ul class="serie-list">
		<% @series.each do |serie| %>
			<li>
				<%= serie.title %>
			</li>
		<% end %>
	</ul>
</section>
