<footer id="footer">
	<p>
		<%= image_tag "serieflix-logo.png", alt: "serieFlix logo", class: "logo-foot"%>
		<span> todos os direitos reservados </span>
		<span id="span-sobre"> Sobre </span>
	</p>
</footer>
