<footer id="footer">
	<div class="footer-container">
		<div >
			<%= image_tag "serieflix-logo-monocromatica.png", alt: "serieFlix logo", class: "logo-foot"%>
			<span> todos os direitos reservados </span>
		</div>
		<span> Sobre </span>
	</div>
</footer>
