<footer class="d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 pr-0">
				<%= image_tag "serieflix-logo-monocromatica.png", width: "120px", height: "auto" %>
			</div>
			<div class="col-sm-4 pl-0">
				<p class="m-0 mt-2">todos os direitos reservados</p>
			</div>
			<div class="col-sm-6" class="pt-2" style="text-align: right">
				<%= link_to "Sobre", "" %>
			</div>
		</div>
	</div>
</footer>